*.pyc
*.pyo
*/*.pyc
*/*.pyo
*.sqlite3
.installed.cfg
develop-eggs
bin
# dist
downloads
eggs
parts
src/*.egg-info
media/*

.vscode
*/__pycache__/.pyc
*.pyc
lib64
__pycache__
*/__pycache__/*
*/__pycache__/*.pyc

local_settings.py
*/local_settings.py


local_test_settings.py
*/local_test_settings.py

migrations
*/migrations

*/**/wsgi_venv.txt
*/**/wsgi_venv.py

*~
*/*~
/.trash
/.cache
.logs/
pytest.ini
/__pycache__/*
/__pycache__/*.pyc
